In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/English-Hindi code-mixed parallel corpus.csv')
data.head()
data.shape

(13738, 2)

In [ ]:
val1 = pd.read_csv('/content/drive/MyDrive/st1.csv')
val1.head()

,English,Hindi,Hinglish
0,The average geological temperature of the eart...,1995 से 2004 के दौरान औसत धरातलीय तापमान 1940 ...,from 1995-2004 ke dauran average geology tempe...
1,Dhrudharashtra and Ghandhari 's eldest among t...,धृतराष्ट्र एवं गांधारी के १०० पुत्रों में सबसे...,Dhrudharashtra and Ghandhari ke 100 sons mein ...
2,In this way a major part of the desert in Raja...,इस प्रकार राजस्थान के रेगिस्तान का एक बड़ा भाग...,is prakar rajasthan ke desert ka ek major part...
3,The power of the President to proclaim Ordinan...,राष्ट्रपति की अध्यादेश जारी करने की शक्ति पे न...,President ki ordinance jari karne ki power pr ...
4,More than 1000 elephants were used during the ...,1000 से अधिक हाथी निर्माण के दौरान यातायात हेत...,more than 1000 elephants construction ke daura...

In [ ]:
val1.shape

(500, 3)

In [ ]:
val2 = pd.read_csv('/content/drive/MyDrive/st2.csv')
val2.head()

,Hinglish,English
0,Abe bigg boss show me baki contestants bhi hai...,Now there are other contestants in the Bigg Bo...
1,Filhal toh behanchod zindagi rape kr rae hai.,At present the behanchod life is raping.
2,agar tumhare sath rape ho jaye to tumhare fath...,What will your father do if Rape happens to you?
3,"I hate it, hostel me banti thi. Us din chawal ...",I hate it. was made in hostel. that time i was...
4,"Tumhare to terrorism failane aate Hain, Indian...","You come to spread terrorism, the Indian Army ..."

In [ ]:
val2.shape

(500, 2)

In [ ]:
kaggle_train = pd.read_csv('/content/drive/MyDrive/kaggle hg-en data/train.csv')
kaggle_train.head()

,English,Hindi,Hinglish,Average rating,Disagreement
0,Program module is a file that contains instruc...,"माड्यूल, एक संचिका होती है, जिसमें या तो स्रोत...","module , ek program hoti hai , jismen ya to so...",7,6
1,And to Thamud We sent their brother Sali 'h. H...,और (हमने) क़ौमे समूद के पास उनके भाई सालेह को ...,aur hamne aume samood ke pas unke bhaee saleh ...,6,4
2,"and, when reminded, do not remember\n","और जब उन्हें याद दिलाया जाता है, तो वे याद नही...","aur jab unhen yad dilaya jata hai , to ve yad ...",10,0
3,you won the TED Prize 2011.\n,तुम्हें २०११ का टेड प्राइज़ मिल गया है.\n,tumhen २०११ ka ted prize mil gaya hai\n,9,1
4,He gone to Kerodemal College of Delhi Universi...,उन्होंने बाद अध्ययन करने के लिए ये दिल्ली विश्...,unhonne bad science karne ke lie ye delhi univ...,7,0

In [ ]:
kaggle_train.shape

(2766, 5)

In [ ]:
kaggle_valid = pd.read_csv('/content/drive/MyDrive/kaggle hg-en data/valid.csv')
kaggle_valid.head()

,English,Hindi,Hinglish
0,Are you sure you want to permanently delete th...,क्या आप इन फ़ाइलों को स्थायी रूप से हटाना चाहत...,kya aap in files ko sthayi roop se permanently...
1,Three public meetings were held in Bombay City...,उस अवसर पर बंबई में तीन सभाएं की गयीं।\n,us avasar par bombay meetings were held ki gay...
2,Nominee of the insurance has to be a near rela...,बीमा का नामित व्यक्ति अभिदाता का निकट संबंधी ह...,insurance ka namit vyakti abhidata ka nikat sn...
3,Thus there was an inadequate appreciation of t...,इस प्रकार इस महत्वपूर्ण क्षेत्र में तेजी से का...,is prkar is vital sector inadequate appreciati...
4,"The Arabs laughed at him , and the alchemist l...",अरब सैनिक उसकी बात सुनकर हंस पड़े । <s> उनके स...,arab sainik uski bat sunakar hns pare arabs s...

In [ ]:
kaggle_valid.shape

(395, 3)

In [ ]:
dataset = pd.DataFrame()
sentence = []
english_translation = []


sentence_1 = list(data['Sentence'])
for i in sentence_1:
  sentence.append(i)

sentence_2 = list(val1['Hinglish'])
for i in sentence_2:
  sentence.append(i)

#sentence_3 = list(val2['Hinglish'])
#for i in sentence_3:
#  sentence.append(i)

sentence_4 = list(kaggle_train['Hinglish'])
for i in sentence_4:
  sentence.append(i)

sentence_5 = list(kaggle_valid['Hinglish'])
for i in sentence_5:
  sentence.append(i)

english_translation_1 = list(data['English_Translation'])
for i in english_translation_1:
  english_translation.append(i)

english_translation_2 = list(val1['English'])
for i in english_translation_2:
  english_translation.append(i)

#english_translation_3 = list(val2['English'])
#for i in english_translation_3:
#  english_translation.append(i)

english_translation_4 = list(kaggle_train['English'])
for i in english_translation_4:
  english_translation.append(i)

english_translation_5 = list(kaggle_valid['English'])
for i in english_translation_5:
  english_translation.append(i)

In [ ]:
for index in range(2, 15):
  data = pd.read_csv('/content/drive/MyDrive/CUSTOM/custom_roman_hindi_dataset_' + str(index) + '.csv')
  h = list(data['Hindi'])
  e = list(data['English'])
  for i in h:
    sentence.append(i)
  for i in e:
    english_translation.append(i)

In [ ]:
13738 + 500 + 500 + 2766 + 395

17899

In [ ]:
#data.shape[0] + val1.shape[0] + val2.shape[0]

In [ ]:
len(sentence)

20326

In [ ]:
len(english_translation)

20326

In [ ]:
dataset['Sentence'] = sentence
dataset['English_Translation'] = english_translation

In [ ]:
dataset

,Sentence,English_Translation
0,@someUSER congratulations on you celebrating b...,@some users congratulate you for celebrating B...
1,@LoKarDi_RT uske liye toh bahot kuch karna pad...,"@Lokardi_ rat we should a lot more for that, b..."
2,@slimswamy yehi to hum semjhane ki koshish kar...,"@Slimswami ehi, this is what i'm expecting you..."
3,@DramebaazKudi cake kaha hai ??,@Where is Dramebajakudi where is the cake?
4,@someUSER i'm in hawaii at the moment . home ...,@some user Don't want to come home next friday...
...,...,...
20321,agr aap kisi aese vykti se mile jo apne yhoodi...,If you met someone who was genuinely distress...
20322,main bhi manta hoon ki adhiktr trksngt log sh...,"""""\nI also believe that most reasonable people..."
20323,aur mujhe lgta hai ki kisi ki snpadn ko POVing...,"And I think describing someone's edit as """"PO..."
20324,kuchh snpadkon ko chhodkr jo aapke sath vibhin...,\nOther than a few editors connected in variou...
20325,,"\n """

In [ ]:
#dataset = dataset.mask(dataset == '')
#dataset = dataset['Sentence'].replace('',np.nan,regex = True)
#dataset = dataset['English_Translation'].replace('',np.nan,regex = True)

In [ ]:
dataset = dataset.dropna()
dataset

,Sentence,English_Translation
0,@someUSER congratulations on you celebrating b...,@some users congratulate you for celebrating B...
1,@LoKarDi_RT uske liye toh bahot kuch karna pad...,"@Lokardi_ rat we should a lot more for that, b..."
2,@slimswamy yehi to hum semjhane ki koshish kar...,"@Slimswami ehi, this is what i'm expecting you..."
3,@DramebaazKudi cake kaha hai ??,@Where is Dramebajakudi where is the cake?
4,@someUSER i'm in hawaii at the moment . home ...,@some user Don't want to come home next friday...
...,...,...
20321,agr aap kisi aese vykti se mile jo apne yhoodi...,If you met someone who was genuinely distress...
20322,main bhi manta hoon ki adhiktr trksngt log sh...,"""""\nI also believe that most reasonable people..."
20323,aur mujhe lgta hai ki kisi ki snpadn ko POVing...,"And I think describing someone's edit as """"PO..."
20324,kuchh snpadkon ko chhodkr jo aapke sath vibhin...,\nOther than a few editors connected in variou...
20325,,"\n """

In [ ]:
dataset.to_csv(r'/content/drive/MyDrive/custom_train_2.csv', index=False)

In [ ]:
20168 - 17899

2269

In [ ]:
custom1 = pd.read_csv('/content/drive/MyDrive/custom_train_3_1to21.csv')
custom1.head()

,Sentence,English_Translation
0,@someUSER congratulations on you celebrating b...,@some users congratulate you for celebrating B...
1,@LoKarDi_RT uske liye toh bahot kuch karna pad...,"@Lokardi_ rat we should a lot more for that, b..."
2,@slimswamy yehi to hum semjhane ki koshish kar...,"@Slimswami ehi, this is what i'm expecting you..."
3,@DramebaazKudi cake kaha hai ??,@Where is Dramebajakudi where is the cake?
4,@someUSER i'm in hawaii at the moment . home ...,@some user Don't want to come home next friday...

In [ ]:
custom1.shape

(25058, 2)